.advantage {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.625rem 2.5rem;

  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.title {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
}

.line {
  border: 0;
  border-left: 1px solid #D2D2D2;
}

.description {
  margin: 0;
  font-size: 18px;
}