@import '../styles/mixins';

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer';
  gap: 1rem;

  @include media(sm) {
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-areas:
      '. header header .'
      '. sidebar content .'
      'footer footer footer footer';
    gap: 2rem;
  }
}

.content {
  grid-area: content;
  padding: 1rem;

  @include media(sm) {
    padding: 0;
  }
}
