.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: start;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}