.menu {

}

.firstLevel {

}

.firstLevelItem {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;

  &:hover {
    color: var(--primary-hover);
  }

  &.firstLevelItemActive {
    color: var(--primary);
  }
}

.secondLevel {
  margin-left: 0.75rem;
  padding-left: 2rem;
  margin-bottom: 14px;
  border-left: 1px solid #dfdfdf;
}

.secondLevelItem {
  margin-bottom: 0.625rem;
  color: var(--gray-dark);
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.secondLevelBlock {
  display: none;
}

.secondLevelBlockOpened {
  display: block;
}

.thirdLevel {
  margin-top: 0.75rem;
}

.thirdLevelItem {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: initial;
  margin-bottom: 0.75rem;

  &:hover {
    color: var(--primary-hover);
  }

  &.thirdLevelItemActive {
    color: var(--primary);
  }
}


